* {
    padding: 0;
    margin: 0;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, #00c6fb, #005bea);
}

.header {
    margin-top: 10px;
}

.navbar-logo {
    widows: 100px;
    height: 50px;
}

.contacts-time-img {
    width: 25px;
    height: 25px;
}

.navbar-brand {
    margin-right: 20px;
}

.btn-group {
    margin-left: 20px;
}

.nav-link-lang {
    width: 20px;
    height: 20px;
}

.section-row {
    position: relative;
}

.section-img {
    margin-top: 80px;
    margin-left: 550px;
    padding: 0;
    z-index: 0;
}

.section-title {
    font-size: 50px;
    margin-left: 20px;
    margin-top: -600px;
    z-index: 2;
}

.section-list {
    font-size: 20px;
    list-style-type: none;
    margin-top: 10px;
}

.section-img-list {
    width: 24px;
}

.img-fluid {
    width: 25%;
    margin-bottom: 20px;
}

.card-body {
    margin-bottom: 20px;
}

.card-title {
    margin-bottom: 10px;
}

.card-text {
    margin-bottom: 20px;
}

.container-lider {
    margin-top: -200px;
}

.btn-section {
    margin-left: 20px;
    text-decoration: none;
}

.btn-section-one {
    margin-left: 20px;
}

.best-btn {
    padding: 10px;
    text-decoration: none;
}

.best-btn:hover {
    transition: 0.5s;
    color: #fff;
}

.section-lider {
    margin-top: 25px;
    margin-bottom: 50px;
}

.lider-title {
    margin-top: 10px;
    margin-bottom: 20px;
}

.lider-subtitle {
    margin-bottom: 20px;
}

.img-fluid-li {
    margin-top: 20px;
    width: 75%;
}

.row-li {
    margin-left: 50px;
}

.card {
    border: none;
}

.price-img {
    width: 25px;
    height: 25px;
}

.tarif {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 30px;
    background-image: url(../img/image/1.png);
}

.card-list {
    list-style-type: none;
    text-align: left;
}

.tarif-title {
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.work-title {
    margin-bottom: 40px;
}

.card-tarif {
    border: 1px solid black;
    box-shadow: 5px 0px 10px gray;
}

.card-img-top {
    margin: 0 auto;
    width: 50%;
}

.section-work {
    position: relative;
    z-index: 1;
    margin-top: 20px;
    margin-bottom: 40px;
    background-image: url(../img/image/fon.png);
}

.section-best{
    margin-top: 80px;
    margin-bottom: 30px;
}

.img-title{
    width: 50%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.best-img{
    margin-top: 100px;
    width: 50%;
    opacity: 0.5;
}

.best-list-img{
    width: 30px;
    height: 30px;
}

.best-title{
    margin-bottom: 20px;
}

.best-list{
    margin-top: 10px;
    list-style-type: none;
    text-align: left;
}

.best-list1{
    margin-top: 10px;
    text-align: left;
    list-style-type: none;
}

.section-supply{
    margin-top: 50px;
    margin-bottom: 50px;
}

.supply-title{
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.supply-item{
    margin-right: 10%;
    width: 150px;
    height: 20%;
    display: inline;
}

.contacts{
    margin-top: 50px;
    width: 100%;
    background: url(../img/image/people2.png) no-repeat;
}