* {
    padding: 0;
    margin: 0;
}

.header{
    margin-top: 10px;
}

.navbar-logo{
    widows: 100px;
    height: 50px;
}

.contacts-time-img{
    width: 25px;
    height: 25px;
}

.navbar-brand{
    margin-right: 20px;
}

.btn-group{
    margin-left: 20px;
}

.nav-link-lang{
    width: 20px;
    height: 20px;
}

.section-row{
    position: relative;
}

.section-img{
    margin-top: 80px;
    margin-left: 550px;
    padding: 0;
    z-index: 0;
}

.section-title{
    font-size: 50px;
    margin-left: 20px;
    margin-top: -600px;
    z-index: 2;
}

.section-list{
    font-size: 20px;
    list-style-type: none;
    margin-top: 10px;
}

.section-img-list{
    width: 24px;
}

.img-fluid{
    width: 25%;
    margin-bottom: 20px;
}

.card-body{
    margin-bottom: 20px;
}

.card-title{
    margin-bottom: 10px;
}

.card-text{
    margin-bottom: 20px;
}